<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>轻舟</title>
    <meta name="description" content="">
    <meta name="keywords" content="HTML,CSS,JavaScript">
    <link rel="stylesheet" href="../css/bootstrap.css?v=20"/>
    <link rel="stylesheet" href="../css/main.css" />
    <link rel="stylesheet" href="../css/prettify.css"/>
    <script type="text/javascript" src="../js/jquery.js"></script>
    <script type="text/javascript" src="../js/prettify.js"></script>
</head>
<body>
<p>首页建设中</p>
</body>
</html>