<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Rango</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}" >
    <script type="text/javascript" src="{% static 'js/jquery-2.1.3.min.js' %}" ></script>
    <script type="text/javascript" src="{% static 'js/jquery.js' %}" ></script>
</head>
<body>
<h1>Rango says</h1>
<img src="{% static 'images/carlo.gif' %}"  />
<a href="/rango/add_category/">Add a New Category</a><br />
Hello,world!<strong>{{ boldmessage }}</strong><br/>
{% if categories %}
<ul>
    {% for category in categories %}
    <li><a href="/rango/category/{{ category.slug }}">{{ category.name }}</a></li>
    {% endfor %}
</ul>
{% else %}
    <strong>There are no categories present.</strong>
{% endif %}
<a href="/rango/about">about</a><br/>
<!--<img src="{% static 'images/carlo.gif' %}" alt="picture of rango" />-->
</body>
</html>