<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>注册</title>
    <meta name="description" content="">
    <meta name="keywords" content="HTML,CSS,JavaScript">
    <link rel="stylesheet" href="../css/bootstrap.css?v=20"/>
    <link rel="stylesheet" href="../css/main.css" />
    <link rel="stylesheet" href="../css/prettify.css"/>
    <script type="text/javascript" src="../js/jquery.js"></script>
    <script type="text/javascript" src="../js/prettify.js"></script>
    <style type="text/css">
        .hero-unit{min-height: 200px;}
    </style>
</head>
<body>
<div class="navbar navbar-inverse">
    <div class="navbar-inner">
        <div class="container">
            <a class="brand" href="#">轻舟学堂</a>
            <ul class="nav">
                <li><a href="#">css教程</a></li>
                <li><a href="#">react教程</a></li>
                <li><a href="#">php教程</a></li>
            </ul>
        </div>
    </div>
</div>
<div class="login">
    <div class="hero-unit">
        <form class="form-horizontal">
            <p><a href="#">登录</a><span class="yuandian">·</span>注册</p>
            <div class="input-prepend">
                <span class="add-on"><i class="icon-envelope"></i></span>
                <input type="text"  placeholder="邮箱">
            </div>
            <div class="input-prepend">
                <span class="add-on"><i class="icon-user"></i></span>
                <input type="text" placeholder="用户名"  />
            </div>
            <div class="input-prepend">
                <span class="add-on"><i class="icon-lock"></i></span>
                <input type="password"  placeholder="密码">
            </div>
            <input class="btn btn-info submit2" type="submit"  value="注册" />
            <div class="check2">
                <div class="pull-left">
                    <p>点击 “注册” 或下方社交登录按钮，即表示您同意并愿意遵守轻舟课堂的 <a href="#">用户协议</a> 和 <a href="#">隐私政策</a> 。</p>
                </div>
            </div>
        </form>
        <div class="line"></div>
        <div class="nocount">
            <p>还可以通过以下方式登录:</p>
        </div>
        <!--<div class="logo-wall">-->
            <!--<ul>-->
                <!--<li><a href="#"></a></li>-->
            <!--</ul>-->
        <!--</div>-->
    </div>
</div>
<footer class="gigoo-footer" style="position: absolute; bottom: 0px;width: 100%;">
    <div class="inner">
        <div class="container">
            <ul class="pull-right"><!--li<a href="/blog">博客</a>-->
                <li></li>
                <li></li>
                <li></li>
                <!--li.social<a href="https://twitter.com/gruntjs/" alt="Grunt on Twitter"><span class="icon-twitter"></span></a>-->
                <!--li.social<a href="/rss" alt="Grunt blog RSS feed"><span class="icon-feed"></span></a>--></ul>
            <ul class="pull-left">
                <li>powered by Gigoo and JoyLeon</li>
                <li>&nbsp;&nbsp;|&nbsp;&nbsp; </li>
                <li>本网站内容由鸡哥和亮哥提供</li>
            </ul>
        </div>
    </div>
</footer>
</body>
</html>